---
import '@/styles/global.css';
import '@/styles/global.scss';

import type { HTMLAttributes } from 'astro/types';
import { SEO } from 'astro-seo';
import type { Props as SEOProps } from 'astro-seo';
import Anchor from '@/components/Anchor.static';
import { APP_ID } from '@/constants/app';
import routes from '@/routes';
import style from './Layout.css';

export interface Props extends HTMLAttributes<'main'> {
  /** @see https://github.com/jonasmerlin/astro-seo#supported-props */
  seo?: SEOProps;
}

const { id: _id, class: _class, seo = {}, ...props } = Astro.props;

const id = _id ? `${APP_ID} ${_id}` : APP_ID;
const className = _class ? `${style.main} ${_class}` : style.main;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO {...seo} />
    <script src="@/scripts/history"></script>
    <script src="@/scripts/swup"></script>
  </head>

  <body>
    <Anchor {...routes.top} />

    <main id={id} class={className} {...props}>
      <slot />
    </main>
  </body>
</html>
